# use glob syntax.
syntax: glob
*.swp
*.swo
*.pyc
*.deb

el7-armv7hl/
el7-samba47/
el7-sernet-samba/
el7-x86_64-ai/
el7/

raspbian-ai/python-espeakng/py-espeak-ng/
raspbian-ai/python-espeakng/python-espeakng*
raspbian-ai/python-espeakng/python3-espeakng*

raspbian-ai/kaldi-chain-zamia-speech-de/kaldi-chain-zamia-speech-de/
raspbian-ai/kaldi-chain-zamia-speech-de/kaldi-generic-de-tdnn_250-r*
raspbian-ai/kaldi-chain-zamia-speech-de/kaldi-generic-de-tdnn_sp-r*

raspbian-ai/kaldi-chain-zamia-speech-en/kaldi-chain-zamia-speech-en/
raspbian-ai/kaldi-chain-zamia-speech-en/kaldi-generic-en-tdnn_250-r*
raspbian-ai/kaldi-chain-zamia-speech-en/kaldi-generic-en-tdnn_sp-r*

raspbian-ai/libkaldi-asr/libkaldi-asr/
raspbian-ai/libkaldi-asr/old/
raspbian-ai/libkaldi-asr/opt/
raspbian-ai/libkaldi-asr/tmp/

raspbian-ai/python-picotts/py-picotts/
raspbian-ai/python-picotts/python-picotts-*
raspbian-ai/python-picotts/python-picotts_*

raspbian-ai/python-marytts/py-marytts/
raspbian-ai/python-marytts/python-marytts-*
raspbian-ai/python-marytts/python-marytts_*

raspbian-ai/python-webrtcvad/py-webrtcvad/
raspbian-ai/python-webrtcvad/python-webrtcvad-*
raspbian-ai/python-webrtcvad/python-webrtcvad_*

raspbian-ai/python-kaldiasr/old/
raspbian-ai/python-kaldiasr/py-kaldi-asr/
raspbian-ai/python-kaldiasr/test/
raspbian-ai/python-kaldiasr/tmp/
raspbian-ai/python-kaldiasr/python-kaldiasr-*
raspbian-ai/python-kaldiasr/python-kaldiasr_*

raspbian-ai/python-nltools/py-nltools/
raspbian-ai/python-nltools/python-nltools-*
raspbian-ai/python-nltools/python-nltools_*

raspbian-ai/python-num2words/num2words/
raspbian-ai/python-num2words/python-num2words-*
raspbian-ai/python-num2words/python-num2words_*

debian-ai/python-espeakng/py-espeak-ng/
debian-ai/python-espeakng/python-espeakng-*
debian-ai/python-espeakng/python-espeakng_*

debian-ai/kaldi-chain-zamia-speech-de/kaldi-chain-zamia-speech-de/
debian-ai/kaldi-chain-zamia-speech-de/kaldi-generic-de-tdnn_250-r*
debian-ai/kaldi-chain-zamia-speech-de/kaldi-generic-de-tdnn_sp-r*

debian-ai/kaldi-chain-zamia-speech-en/kaldi-chain-zamia-speech-en/
debian-ai/kaldi-chain-zamia-speech-en/kaldi-generic-en-tdnn_250-r*
debian-ai/kaldi-chain-zamia-speech-en/kaldi-generic-en-tdnn_sp-r*

debian-ai/libkaldi-asr/libkaldi-asr
debian-ai/libkaldi-asr/opt

debian-ai/python-marytts/py-marytts/
debian-ai/python-marytts/python-marytts-*
debian-ai/python-marytts/python-marytts_*

debian-ai/python-picotts/py-picotts/
debian-ai/python-picotts/python-picotts-*
debian-ai/python-picotts/python-picotts_*

debian-ai/python-webrtcvad/py-webrtcvad/
debian-ai/python-webrtcvad/python-webrtcvad-*
debian-ai/python-webrtcvad/python-webrtcvad_*

debian-ai/python-kaldiasr/py-kaldi-asr/
debian-ai/python-kaldiasr/python-kaldiasr-*
debian-ai/python-kaldiasr/python-kaldiasr_*
debian-ai/python-kaldiasr/test/
debian-ai/python-kaldiasr/tmp/

debian-ai/python-nltools/py-nltools/
debian-ai/python-nltools/python-nltools-*
debian-ai/python-nltools/python-nltools_*

debian-ai/python-num2words/num2words/
debian-ai/python-num2words/python-num2words-*
debian-ai/python-num2words/python-num2words_*

centos-ai/kaldi-chain-zamia-speech-de/kaldi-generic-de-tdnn_250-r*
centos-ai/kaldi-chain-zamia-speech-de/kaldi-generic-de-tdnn_sp-r*
centos-ai/kaldi-chain-zamia-speech-en/kaldi-generic-en-tdnn_250-r*
centos-ai/kaldi-chain-zamia-speech-en/kaldi-generic-en-tdnn_sp-r*

centos-ai/xsb-3.8/XSB.1/
centos-ai/xsb-3.8/XSB/
centos-ai/xsb-3.8/XSB38.tar.gz

centos-ai/espeak-ng-1.49.1/1.49.1.tar.gz
centos-ai/kaldi-asr-5.3/kaldi-asr-bin-5.3.tar.gz
centos-ai/kaldi-asr/build.log
centos-ai/kaldi-asr/kaldi

centos-ai/python-espeak-ng/py-espeak-ng/
centos-ai/python-espeak-ng/build.log

centos-ai/python-kaldiasr/build.log
centos-ai/python-kaldiasr/py-kaldi-asr/

centos-ai/svox-pico-20160125/svox-pico-20160125.tar.xz
centos-ai/svox-pico-20160125/svox-pico-20160125/

centos-ai/swi-prolog-7.6.3/swi-prolog-7.2.3-4.mga6.src.rpm
centos-ai/swi-prolog-7.6.3/swipl-7.6.3.tar.gz

centos-ai/pocketsphinx-5.0/pocketsphinx/

centos-ai/sphinxbase-5.0/sphinxbase/

centos-ai/openfst-1.6.7/openfst-1.6.7-1.fc28.src.rpm
centos-ai/openfst-1.6.7/openfst-1.6.7.tar.gz

centos-ai/opengrm-ngram-1.3.4/opengrm-ngram-1.3.4-2.fc28.src.rpm
centos-ai/opengrm-ngram-1.3.4/opengrm-ngram-1.3.4.tar.gz

centos-ai/cmusphinx-code/

centos-ai/sphinxtrain-5.0/sphinxtrain

centos-ai/python-picotts/py-picotts-*
centos-ai/python-picotts/py-picotts/

centos-ai/python-marytts/build.log
centos-ai/python-marytts/py-marytts/

centos-ai/python-webrtcvad/webrtcvad-2.0.10.tar.gz

centos-ai/python-num2words/num2words-0.5.7.tar.gz

centos-ai/python-nltools/py-nltools/

centos-ai/python-xsb/py-xsb/

centos-ai/zamia-ai/zamia-ai/

centos-ai/python-cmdln-2.0.0/cmdln-2.0.0.tar.gz
centos-ai/python-codegen-1.0/codegen-1.0.tar.gz

centos-ai/kenlm/kenlm/

centos-ai/kaldi-adapt-lm/kaldi-adapt-lm/

centos-ai/bazel/bazel-0.15.2-dist.zip
centos-ai/bazel/bazel-0.15.2.tar.gz

