# use glob syntax.
syntax: glob
*.swp
*.swo
*.pyc

el7-armv7hl/
el7-samba47/
el7-sernet-samba/
el7-x86_64-ai/
el7/

raspbian-ai/python-espeakng/py-espeak-ng/
raspbian-ai/python-espeakng/python-espeakng*
raspbian-ai/python-espeakng/python3-espeakng*

