# use glob syntax.
syntax: glob
*.swp
*.swo
*.pyc
*.deb

el7-armv7hl/
el7-samba47/
el7-sernet-samba/
el7-x86_64-ai/
el7/

raspbian-ai/python-espeakng/py-espeak-ng/
raspbian-ai/python-espeakng/python-espeakng*
raspbian-ai/python-espeakng/python3-espeakng*

raspbian-ai/kaldi-chain-zamia-speech-de/kaldi-chain-zamia-speech-de/
raspbian-ai/kaldi-chain-zamia-speech-de/kaldi-generic-de-tdnn_250-r*
raspbian-ai/kaldi-chain-zamia-speech-de/kaldi-generic-de-tdnn_sp-r*

raspbian-ai/kaldi-chain-zamia-speech-en/kaldi-chain-zamia-speech-en/
raspbian-ai/kaldi-chain-zamia-speech-en/kaldi-generic-en-tdnn_250-r*
raspbian-ai/kaldi-chain-zamia-speech-en/kaldi-generic-en-tdnn_sp-r*

raspbian-ai/libkaldi-asr/libkaldi-asr/
raspbian-ai/libkaldi-asr/old/
raspbian-ai/libkaldi-asr/opt/
raspbian-ai/libkaldi-asr/tmp/

raspbian-ai/python-picotts/py-picotts/
raspbian-ai/python-picotts/python-picotts-*
raspbian-ai/python-picotts/python-picotts_*

raspbian-ai/python-marytts/py-marytts/
raspbian-ai/python-marytts/python-marytts-*
raspbian-ai/python-marytts/python-marytts_*

raspbian-ai/python-webrtcvad/py-webrtcvad/
raspbian-ai/python-webrtcvad/python-webrtcvad-*
raspbian-ai/python-webrtcvad/python-webrtcvad_*

raspbian-ai/python-kaldiasr/old/
raspbian-ai/python-kaldiasr/py-kaldi-asr/
raspbian-ai/python-kaldiasr/test/
raspbian-ai/python-kaldiasr/tmp/
raspbian-ai/python-kaldiasr/python-kaldiasr-*
raspbian-ai/python-kaldiasr/python-kaldiasr_*

raspbian-ai/python-nltools/py-nltools/
raspbian-ai/python-nltools/python-nltools-*
raspbian-ai/python-nltools/python-nltools_*

raspbian-ai/python-num2words/num2words/
raspbian-ai/python-num2words/python-num2words-*
raspbian-ai/python-num2words/python-num2words_*

debian-ai/python-espeakng/py-espeak-ng/
debian-ai/python-espeakng/python-espeakng-*
debian-ai/python-espeakng/python-espeakng_*

debian-ai/kaldi-chain-zamia-speech-de/kaldi-chain-zamia-speech-de/
debian-ai/kaldi-chain-zamia-speech-de/kaldi-generic-de-tdnn_250-r*
debian-ai/kaldi-chain-zamia-speech-de/kaldi-generic-de-tdnn_sp-r*

debian-ai/kaldi-chain-zamia-speech-en/kaldi-chain-zamia-speech-en/
debian-ai/kaldi-chain-zamia-speech-en/kaldi-generic-en-tdnn_250-r*
debian-ai/kaldi-chain-zamia-speech-en/kaldi-generic-en-tdnn_sp-r*

debian-ai/libkaldi-asr/libkaldi-asr
debian-ai/libkaldi-asr/opt

debian-ai/python-marytts/py-marytts/
debian-ai/python-marytts/python-marytts-*
debian-ai/python-marytts/python-marytts_*

debian-ai/python-picotts/py-picotts/
debian-ai/python-picotts/python-picotts-*
debian-ai/python-picotts/python-picotts_*

debian-ai/python-webrtcvad/py-webrtcvad/
debian-ai/python-webrtcvad/python-webrtcvad-*
debian-ai/python-webrtcvad/python-webrtcvad_*

debian-ai/python-kaldiasr/py-kaldi-asr/
debian-ai/python-kaldiasr/python-kaldiasr-*
debian-ai/python-kaldiasr/python-kaldiasr_*
debian-ai/python-kaldiasr/test/
debian-ai/python-kaldiasr/tmp/

debian-ai/python-nltools/py-nltools/
debian-ai/python-nltools/python-nltools-*
debian-ai/python-nltools/python-nltools_*

debian-ai/python-num2words/num2words/
debian-ai/python-num2words/python-num2words-*
debian-ai/python-num2words/python-num2words_*

