#!/usr/bin/make -f

export DH_VERBOSE=1
export PYBUILD_NAME=pyxsb

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_installexamples:
	dh_installexamples
	dh_installexamples -ppython-pyxsb-doc demo_*.py

override_dh_installdocs:
	dh_installdocs
	dh_installdocs -ppython-pyxsb-doc README.md
